*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
  /* porcentagem do tamanhox*/
  font-size: 72.5%;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
display: flexbox;
flex-direction: column;
margin-top: 0;
flex-wrap: wrap;
justify-content: center;
height: 200vh;
width: 100%;
align-items: center;
background-color: #F9EFE5;
font-family: 'Open Sans', sans-serif;
}

.logo-img{
  width: 25rem;
  margin-left: 70rem;
  margin-top: 6.3rem;
  margin-bottom: 8.3rem;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background:white;
  height: 10vh;
  width: 70%;
  justify-content: space-evenly;
  border-radius: 1.5rem;
  border-radius: 1.5rem;
  margin-left: 23rem;
  margin-bottom: 3rem;
  background-color: #ee7717c1;   
}

label{
  font-size: 1.6rem;
  padding-bottom: 0.2rem;
  text-align: left;
  color:#ECEFF4;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}

.img-task{
  width: 25%;
  height: 20%;
  
}

.table-img{
  display: flex;
  flex-direction: row;
}

table{
  align-items: center;
  color: #434C5E;
  background: white;
  height: 20vh;
  width: 50vw;
  margin: 25rem;
  margin-top: 4rem;
  margin-left: 20rem;
  border-radius: 1.5rem;
  border-radius: 1.5rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
thead{
  padding-left: 40rem;

}
th{
  display: flexbox;
  flex-direction: row;
  align-content: space-between;
  font-size: 1.8rem;
  color: #f77062;
  font-weight: bold;
}

td{
  font-size: 1.5rem;
  text-align: center;
}

input{
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  color: #434C5E;
  padding: 1.0rem;
  margin-bottom: 1rem;
  margin-left: 1.0rem;
  width: 20%;
  height: 3rem;
  border-radius: 1.5rem;
  background: #ECEFF4;
  border: none;
}

button {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-left: 3.8rem;
  width: 50%;
  height: 3rem;
  align-items: center;
  border-radius: 1.5rem;
  border:none;
  background:#ee7717c1;
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
}

.insert-task-btn{
  margin-right: 2.5rem;
  width: 60%;
  height: 3rem;
  align-items: center;
  border-radius: 1.5rem;
  border:none;
  background: #ECEFF4;
  font-display: fallback;
  font-size: 1.5rem;
  color: #f77062;
  font-weight: 900;
}

button:hover{
  background: #f79662f5;
  color: white;
  transform: scale(1.2)
}

@media(max-device-width: 360px){
  .content{
      display:block;
      text-align: center;
      height: 135vh;
      width: 100%;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }

  form{
      height: -moz-fit-content;
      height: fit-content;
      width: 90vw;
      text-align: justify;
      border-radius: 0rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      padding: 3rem;
      margin-left: 1rem; 
      margin-right: 3rem;
      margin-top: 3rem;
  }

  table{
      height: -moz-fit-content;
      height: fit-content;
      width: 90vw;
      text-align: justify;
      border-radius: 0rem;
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      padding: 3rem;
      margin-left: 1rem; 
      margin-right: 5rem;
      margin-bottom: 3rem;
  }

  form label, form legend{
      text-align: left;
  }
  
}